.line-graph {
  height: 273px;
  width: 750px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  color: white !important;
  margin-bottom: -9px;
  margin-left: -10px;
}
.graph-container {
  width: 100%;
}
.graph-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graph-tabs-right {
  display: flex;
  gap: 15px;
}
.graph-tabs-items:hover {
  color: black;
}
.errorText {
  justify-content: center;
  display: flex;
  margin-top: 44px;
  color: #fa8f6b;
}

.loadingText {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 6px 12px;
  font-weight: 400;
  border-radius: 8px;
  background: var(--Indigo-Indigo-800, #270e8d);
}
.graph-tabs-items {
  display: flex;
  align-items: center;
  gap: 5px;
}
.linesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #e2e4e7;
}

@for $i from 1 through 6 {
  .line-#{$i} {
    left: calc(#{$i} * (100% / 6));
    transform: translateX(-50%);
  }
}
